@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 1em;
    background: #f8f1f1;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 896px;
    font-weight: 600;
}


header {
    margin-bottom: 1em;
    padding: 1em;
    max-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 50px;
}
 
.pet-pow-logo {
    width: 50px;
    filter: invert(67%) sepia(8%) saturate(1710%) hue-rotate(130deg) brightness(91%) contrast(88%);
    float: left;
    
}
.logo {
    text-decoration: none;
    color: #5eaaa8;
    font-weight: 700;
    font-size: 1em;
}
.menu {
    position: relative;
    top: 0;
    right: 0;
    height: 50px;
    margin: 0;
    width: 50px;
    cursor: pointer;
    filter: invert(67%) sepia(8%) saturate(1710%) hue-rotate(130deg) brightness(91%) contrast(88%);
}

#container {
    /* display: block;
    position: relative;
    margin: 0;
    padding: 0;
    background: yellow; */
}


h1 {
    margin: 0;
    padding: 1em;
    margin-bottom: 1em;
    color: #5eaaa8;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
    max-width: 650px;
    align-items: center;
    margin: 2em .7em 0 .7em;
    padding: 2em 1em;
    height: 70%;
    border-radius: 1em;
    background: #5eaaa8;
}

main h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: #f8f1f1;
    margin-bottom: 0;
}


.btn-container {
    margin: 0 auto;
    padding: 1em 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta {
    margin: .5em 0.5em 1em 0.5em;
    padding: 1em;
    border-radius: .7em;
    background: #a3d2ca;
    text-decoration: none;
    color: #5eaaa8;
    font-weight: 600;
    box-shadow: 5px 5px 10px #35664e;
}
.pet-container {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    background: #f48956;
    margin: 0 1em;
}

.frame{
    height: 350px;
    position: relative;
    top: 0;
    left: 0;
    background: #f8f1f1;
    transform: rotate(10deg);
}

.puppy {
    height: 280px;
    position: absolute;
    top: 65px;
    left: 00px;
    filter: grayscale(30%);
    transform: rotate(10deg);
}


/* Navigation */

nav {
    position: fixed;
    z-index: 2;
    background: #a3d2ca;
    height: 100vh;
    right: 0;
    top: 0;
    width: 65%;
    visibility: unset;
    transform: translateX(150%);
    opacity: 0;
    transition: all .3s;
    text-align: left;
}

nav ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav ul li {
    margin-bottom: 1em;
    padding: 1em .5em 1em 1.5em;
    background: #5eaaa8;
    cursor: pointer;
    box-shadow: 3px 3px 10px #396866;
}

nav ul li:hover {
    background: #a3d2ca;
}
nav ul li a {
    color: #f8f1f1;
    text-decoration: none;
}

.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0)
}
nav li img {
    cursor: pointer;
    width: 50px;
    font-weight: 600;
}
.exit { 
    width: 50px;
    background: none;
    filter: invert(67%) sepia(8%) saturate(1710%) hue-rotate(130deg) brightness(91%) contrast(88%);
    box-shadow: none;
}

.exit:hover {
    background: none;
}


ul{
    list-style: none;
}

.active {
    background: #f48956;
}

.active:hover {
    background: #f8783d;
}

.bird-container {
    display: block;
    max-width: 300px;
    margin-top: 2em;
}

.bird-container img {
    position: absolute;
    left: -12px;
    right: 0;
    max-width: 350px;
    padding-left: 0;
    filter: grayscale(30%) ;
}


